@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #080808;
  background-image: url("./assets/stars.png");
  background-repeat: repeat-y;
  font-family: 'Silkscreen', cursive;
}
